{% extends '/views/layout/layout.html' %}

{% block css %} 
	<link rel="stylesheet" href="/static/css/election.css">
{% endblock %}

{% block javascript %} 
	<script src="/static/js/election.js"></script>
{% endblock %}

{% block content %}

<div class="cont">
	<div class="form">
		<form action="">
			<label>တောင်းဆိုသူ၏ အမည်</label>
			<input type="text" class="input" placeholder="e.g /  ဦးကျော်ကျော်"/>
			<label>တိုင်းရင်းသားလူမျိုး</label>
			<input type="text" class="input" placeholder="e.g / ဗမာ "/>
			<label>မှတ်ပုံတင်အမှတ်</label>
			<input type="text" class="input" placeholder="e.g /  ၈/မသန(နိုင်) ၁၂၃၄၅၆"/>
			<label>မွေးသက္ကရာဇ် (အသက်) </label>
			<input type="text" class="input" placeholder="e.g /  ၂၁.၄.၁၉၉၂"/>
			<label>အဘအမည်</label>
			<input type="text" class="input" placeholder="e.g /  ဦးကိုကို"/>
			<label>အမိအမည်</label>
			<input type="text" class="input" placeholder="e.g /  ဒေါ်တင်မာ"/>
			<label>တောင်းဆိုသူ၏ အမြဲနေရပ်လိပ်စာ</label>
			<textarea class="text-input" placeholder="e.g /  အမှတ် ၁၈ , သီတာလမ်း , အမှတ် ၅ ရပ်ကွက် , တာမွေ မြို့နယ် , ရန်ကုန် တိုင်းဒေသကြီး"></textarea>
			<label>တောင်းဆိုသူ ယခုရောက်ရှိ နေသည့် လိပ်စာ</label>
			
			<textarea class="text-input" placeholder="e.g /   Blk 32, Mandalay Road #13-37, Mandalay Towers, Singapore 308215, Phone: +65 80324637"></textarea>

			<label>ပတ်စပို့ ပုံ ( Passport Image )</label>
			<img id="output" src="" width="100%" height="250px"><br/><br/>
			<input name="photo" type="file" accept="image/*" onchange="preview(this)"><br/><br/>
			
			<label>လက်မှတ် ( အောက်ပါ အဖြူရောင် ပေါ်တွင် မိမိ၏ လက်မှတ် ကိုရေးဆွဲ ပါ )</label>
			<div id="signature">
				<canvas id="can" width="300" height="250" style="border:2px solid;"></canvas>
				<img id="canvasimg" style="width: 100%;" style="display:inline;">
				<input type="button" value="save" id="btn" class="btn btn-success" size="30" onclick="save()">
				<input type="button" value="clear" id="clr" class="btn btn-warning"size="23" onclick="erase()">
			</div>

			<button class="login">Submit</button>
			<input type="reset" value="Clear" class="reset">
		
		</form>
		
	</div>
</div>
{% endblock %}