{% extends '/views/layout/layout.html' %}

{% block css %} 
	<link rel="stylesheet" href="/static/css/help.css">
{% endblock %}

{% block javascript %} 
<script src="/static/js/help.js"></script>
{% endblock %}

{% block content %}

<div class="content">
    <div class="search">
        <input type="text" id="find" class="input" onkeyup="search()" placeholder="Search volunteers.."/>
    </div>

    <table id="volunter_table">
        <tr class="header">
          <th style="width:50%;">Name</th>
          <th style="width:40%;">Phone</th>
          <th style="width:60%;">MRT</th>
        </tr>
        <tr>
          <td>Ko Soe Tun</td>
          <td>9487 4413</td>
          <td>Sembawang & Admiralty</td>
        </tr>
        <tr>
          <td>Ko Thein Myint Win</td>
          <td>8186 1576</td>
          <td>Woodlands</td>
        </tr>
        <tr>
          <td>Ko Thet Oo Kyaw</td>
          <td>9145 7374</td>
          <td>Marsling</td>
        </tr>
        <tr>
          <td>Ko Aung Zaw Myint </td>
          <td>9234 4185</td>
          <td>YewTee & Kranji</td>
        </tr>
        <tr>
          <td></td>
          <td>Canada</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Italy</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>North/South</td>
          <td>UK</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Paris specialites</td>
          <td>France</td>
          <td>Germany</td>
        </tr>
    </table>
</div>
{% endblock %}